################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WindowsFormsApplication1/obj
/WindowsFormsApplication1/bin/Debug
/.vs
